@use "@angular/material" as mat;

.header {
  background-color: rgba(39, 45, 53, 1);
  @include mat.icon-button-overrides(
    (
      icon-color: #fff,
      hover-state-layer-opacity: 0.3,
    )
  );
}

nav {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: flex;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  cursor: pointer;
}
