.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sticky-container {
  position: sticky;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
