<div class="container">
  <app-search-filter />
  @for(customer of customers$ | async; track customer.id){
  <mat-card appearance="outlined" [routerLink]="['details', customer.id]">
    <mat-card-header>
      <div class="header-container">
        <img
          #logo
          class="avatar"
          [src]="customer.logoLink"
          width="48"
          height="48"
          (error)="logo.src = 'assets/images/default-user.svg'"
        />
        <mat-card-title>{{ customer.name }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-icon [matTooltip]="customer.email">mail</mat-icon>
      |
      <mat-icon [matTooltip]="customer.phone">phone</mat-icon>
      |
      <p>{{ customer.updatedDate | appCustomerDateFormat }}</p>
    </mat-card-content>
  </mat-card>
  }
  <div class="pagination">
    <button
      mat-icon-button
      [disabled]="!(currentPage - 1 >= 0)"
      (click)="changePage(0)"
    >
      <mat-icon>first_page</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="!(currentPage - 1 >= 0)"
      (click)="changePage(currentPage - 1)"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="!(currentPage + 1 < totalPages)"
      (click)="changePage(currentPage + 1)"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="!(currentPage + 1 < totalPages)"
      (click)="changePage(totalPages - 1)"
    >
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>
