.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

mat-card {
  cursor: pointer;
  margin-bottom: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.sticky-container {
  position: sticky;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
