@use "../../../../styles/_media-queries.scss" as media;

mat-card {
  cursor: pointer;
  margin-bottom: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

mat-card-content {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  flex-shrink: 0;
  margin-right: 0.75rem;
}

@include media.respond-above(sm) {
  mat-card-content {
    display: flex;
    align-items: end;
    gap: 0.625rem;
    mat-icon {
      width: 1.125rem;
      height: 1.125rem;
      font-size: 1.125rem;
    }
    p {
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-transform: lowercase;
    }
  }
}
