<mat-card appearance="outlined" [routerLink]="['customers', customer().id]">
  <mat-card-header>
    <div class="header-container">
      <img
        #logo
        class="avatar"
        [src]="customer().logoLink"
        width="48"
        height="48"
        (error)="logo.src = 'assets/images/default-user.svg'"
      />
      <mat-card-title>{{ customer().name }}</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ customer().updatedDate | appCustomerDateFormat }}</p>
  </mat-card-content>
</mat-card>
