.filter-form {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.container {
  padding-top: 30px;
}

.long-mat-form-field {
  min-width: 300px;
}

.small-mat-form-field {
  width: 200px;
}
