<div class="container">
  <form class="filter-form">
    <mat-form-field class="long-mat-form-field">
      <mat-label>Search</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="small-mat-form-field">
      <mat-select value="name">
        <mat-optgroup label="Filter by">
          <mat-option value="name">Name</mat-option>
          <mat-option value="creation date">Creation date</mat-option>
          <mat-option value="updated date">Updated date</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </form>
</div>
