.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-field-container {
  margin-bottom: 20px;
}

mat-form-field {
  width: 300px;
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.error-message {
  margin-top: 10px;
}
