:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

form {
  text-align: center;
}

.login-btn {
  margin-top: 0.625rem;
  min-width: 125px;
}

.title {
  color: #383838;
  margin: 0 0 1.875rem 0;
}
