<ng-container *transloco="let t">
  <div class="container">
    <div class="breadcrumb-container">
      <span class="active" routerLink="/">Home</span>
      <span>/</span>
      <span>{{t('userSettings')}}</span>
    </div>
    <mat-tab-group
      [(selectedIndex)]="selectedTab"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      dynamicHeight
    >
      <mat-tab [label]="t('profileInfo')">
        <app-profile-info />
      </mat-tab>
      <mat-tab [label]="t('securitySettings')">
        <app-security-settings />
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
