<ng-container *transloco="let t">
  <div class="filter-form">
    <div class="filter-container">
      <button mat-flat-button routerLink="new">{{ t("newCustomer") }}</button>
    </div>
    <div class="filter-container">
      <mat-form-field class="long-mat-form-field">
        <mat-label>{{ t("searchByName") }}</mat-label>
        <input
          type="text"
          matInput
          (keyup)="search(searchInput.value, select.value)"
          [(ngModel)]="searchValue"
          #searchInput
        />
        <mat-icon
          matSuffix
          (click)="search((searchInput.value = ''), select.value)"
          >{{ searchInput.value ? "clear" : "search" }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field class="small-mat-form-field">
        <mat-select
          [value]="defaultSelectValue"
          #select
          (selectionChange)="onSelection($event)"
        >
          <mat-optgroup [label]="t('sortBy')">
            @for(customerSortType of customerSortTypes; track customerSortType){
            <mat-option [value]="customerSortType">{{
              customerSortLabelMapping[customerSortType]
            }}</mat-option>
            }
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-container>
