@use "../../../../../app/styles/_media-queries.scss" as media;

.filter-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.filter-container {
  display: flex;
  column-gap: 0.625rem;
}

@include media.respond-above(md) {
  .filter-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .long-mat-form-field {
    width: 300px;
  }

  .small-mat-form-field {
    width: 200px;
  }
}
